@tailwind base;
@tailwind components;
@tailwind utilities;
body {
  background-color: #fff;
}


.parent {
  position: relative;
}



.parent:hover .child{
  transform: scale(1);
}

.child {
  justify-content: center;
  width: 100%;
  height: 100%;
  align-items: center;
  text-align: center;
  display: flex;
  position: absolute;
  top: 0;
  margin: 0 auto;
  background-color: rgba(0,0,0,.5);
  font-size: 40px;
  transform: scale(0);
  transition: all linear 0.2s;
  
}

.parent:hover .child2{
  animation: move 0.3s linear forwards;
}
.child2 {
  color: black;
  background-color: white;
  
}

@keyframes move {
  0% {
    transform: translateY(0);
  }  

  100% {
    transform: translateY(40px);
  }  
}